body{
    background-color: #2C3E50;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding: 0;
}

.nav{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 50px;
    opacity: 50%;
    z-index: 1;
    display: grid;
    grid-template-columns:15% 15% 40% 15% 15%;
}

.icon_navigation{
    margin-left: 70px;
    margin-top: 10px;
    content: '';
    width: 2em;
    height: 2em;
}

.user{
    background: url('https://api.iconify.design/ic/twotone-person-outline.svg') no-repeat center center / contain;
}

.menu{
    background: url('https://api.iconify.design/ic/twotone-notes.svg') no-repeat center center / contain;
}

.setting{
    background:url('https://api.iconify.design/ant-design/setting-twotone.svg') no-repeat center center / contain;
}

.search{
    background: url('https://api.iconify.design/ic/baseline-search.svg') no-repeat center center / contain;
}


.bigposter{
    position:absolute;
    z-index: -1;
    width:100%;
    height: 600px;
    top: -50px;
}


.movieposter{
    position:relative;
    background-image: url(https://cdn-images-1.medium.com/max/1600/1*F76OgrW715uBXvzhSDBLrg.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.intro{
    position:absolute;
    z-index:1;
    display:inline;
    color:white;
    top:340px;
    left:70px;
    font-size: 20px;
}

.Int{
    margin-top: -20px;
    text-align: justify;
    font-size: 15px;
    width: 500px;
}

.watch{
    text-align: center;
    line-height: 40px;
    color: white;
    border:2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 120px;
    height: 40px;
}

.moviegrid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(6,auto);
    grid-template-rows: 250px;
    margin-top: -25px;
}

.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top{
    font-size: 25px;
    color:white;
    margin-top: 520px;
    margin-left: 10px;
    font-weight: bold;

}

.Popular{
    font-size: 25px;
    color:white;
    margin-left: 10px;
    font-weight: bold;
}

.Comedy{
    font-size: 25px;
    color:white;
    margin-left: 10px;
    font-weight: bold;
}

/*responsive for header*/
@media only screen and (max-width:800px){
    .nav{
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        height: 40px;
        opacity: 50%;
        z-index: 1;
        display: grid;
        grid-template-columns:repeat(5,20%);
    }

    .icon_navigation{
        margin-left: 40px;
        height: 1.5em;
        width: 1.5em;
    }
}

/*responsive for body*/
@media only screen and (max-width:800px){
    .bigposter{
        position:absolute;
        z-index: -1;
        width: 100%;
        height: 400px;
        top: -50px;
    }
    
    .movieposter{
        position:relative;
        background-size: cover;
        background-position:center;
        width: 100%;
        height: 100%;
        opacity: 80%;
    }

    .intro{
        display: none;
    }
}

/*responsive for movie*/
@media only screen and (max-width:800px){
    .moviegrid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns:repeat(3,auto);
        grid-template-rows: repeat(2,auto);

    }
    
    .grid-item{
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
    
    .item-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .top{
        font-size: 25px;
        color:white;
        margin-top: 330px;
        margin-left: 7px;
        font-weight: bold;
    
    }
    
    .Popular{
        font-size: 25px;
        color:white;
        margin-left: 7px;
        font-weight: bold;
    }
    
    .Comedy{
        font-size: 25px;
        color:white;
        margin-left: 7px;
        font-weight: bold;
    }
    
}

